<nav class="navbar navbar-default">
  <a class="navbar-brand navbar-left" href="/">Simple Airbnb</a>

  <div class="collapse navbar-collapse navbar-right">
    <div class="flex">
      <form class="form-inline">
        <input class="form-control" name="query" type="search" placeholder="Search" aria-label="Search" value="">
        <button class="btn btn-primary" type="submit">Search</button>
      </form>
      <a class="btn btn-success" href="/flats/new">Add Flat</a>
    </div>
  </div>
</nav>
